<h1>Edit Your Selected Todo</h1>
<%= form_tag ('/todos') do%>
  <%= label_tag(:title, "Title:") %>
  <%= text_field "todo", "title" %></br>
  <%= label_tag(:description, "Description") %>
  <%= text_area "todo", "description" %></br>
  <%= submit_tag "Update" %>
<% end %>