<h1> TODO APP! </h1>
<%= link_to "New Todo Item", new_todo_path %>
<% @todos.each do |todo| %>
    <li>
      <%= link_to todo.title, todo_path(todo.id) %>
      <%= link_to "edit", edit_todo_path(todo[:id]) %>
      <%= link_to "Delete", {action: :destroy, id: todo.id}, method: :delete, data: { confirm: "You sure?" }%>
    </li>
<% end %>