<h1>Create a New Todo</h1>
<%= form_tag :action => 'create' do %>

  <%= label_tag(:title, "Title:") %>
  <%= text_field "todo","title" ,  required: true %></br>
  <%= label_tag(:description, "Description") %>
  <%= text_area "todo", "description",  required: true %></br>
  <%= submit_tag "Create" %>
<% end %>